body {
  margin: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*    color: #ffffff;*/
    background-color: #ffffff;

  background-color:rgb(213, 248, 236);
}

.stepsCompose {
  background-color:#ffffff

}

a {
  text-decoration: none;
}

table {
}
/*
tr:nth-child(odd) {
  background-color: #f2f2f2; 
}
  */

tr:nth-child(even) {
  background-color:rgb(212, 212, 212) 
}


tab {
  font-style: bold;
}

input {
  font-size: 16pt;
}

textarea {
  font-size: 16pt;
  columns: 5cm;
}

label {
  font-style: bold;
}

select {
  font-size: 16pt;

}

button {
  border-radius: 10px;
  padding: 10;
  margin: 10;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


