body {
  margin: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*    color: #ffffff;*/
  color: #ffffff;
  background-color: #242430
}

.stepsCompose {
  color: white;
  background-color:#242430

}

select {
  color:white;
  background-color:#242430;
  font-size: 16pt;


}

a {
  text-decoration: none;
  color:#abd1ff;
}

.mytabs {
  background-color: #6565ab;
}

table {
}
/*
tr:nth-child(odd) {
  background-color: #f2f2f2; 
}
  */

/*
tr:nth-child(even) {
  background-color:#646484 
}

*/

tab {
  font-style: bold;
}

input {
  font-size: 16pt;
  color: white;
  background-color:#5f5f80;
  text-align: right;
}

textarea {
  font-size: 16pt;
  columns: 5cm;
  color: rgb(55, 239, 55);
  background-color: black;
}

label {
  font-style: bold;
}


button {
  font-size: 16pt;
  border-radius: 10px;
  padding: 10;
  margin: 10;
    color: #ffffff;
  background-color: #6565ab

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


