body {
  margin: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(187, 252, 230);
}

.stepsCompose {
  background-color: rgb(225, 255, 245)
}

a {
  text-decoration: none;
}
tr:nth-child(odd) {
  background-color: #f2f2f2; /* Light gray background */
}

/* Styles for even-numbered rows */
tr:nth-child(even) {
  background-color: #ffffff; /* White background */
}

tab {
  font-style: bold;
}

input {
  font-size: 16pt;
}

textarea {
  font-size: 16pt;
  columns: 5cm;
}

label {
  font-style: bold;
}

select {
  font-size: 16pt;

}

button {
  border-radius: 10px;
  padding: 10;
  margin: 10;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
